# Windows Files
*.lnk
Desktop.ini
Thumbs.db
ehthumbs.db

# Ignoring Log Files
/Machine Learning/HackerRank Dota 2/TensorFlow Logs/TensorBoard

# Ignoring general data files for extra good measure
OpenAI/*/Data
Machine Learning/*/data




